.navbar-brand {
  font-family: 'Staatliches', cursive;
}

.navbar {
  margin-top: 15px;
}

.navbar-nav {
  margin-left: auto;
}

.navbar ul {
  font-size: 0.75em;
  align-items: center;
}

.navbar ul li {
  cursor: pointer;
}